* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px black solid;
}

.nav-left {
  display: flex;
  margin: 20px;
}

.nav-left h1 {
  font-size: 28px;
}

.nav-left a {
  text-decoration: none;
}

.logo img {
  display: block;
}

.nav-right {
  margin: 20px;
}

.nav-right a {
  text-decoration: none;
  margin: 10px;
  color: #22235f;
}

.nav-right button {
  background-color: #22235f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  gap: 8px;
}

.banner {
  position: relative;
}

.banner img {
  border-top: 1px black solid;
  width: 100%;
  height: auto;
}

.banner input {
  position: absolute;
  top: 50%;
  left: 32%;
  width: 700px;
  padding: 15px 10px;
  border-radius: 8px;
}

.banner a {
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 61%;
}

.popular-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22235f;
  color: #ffffff;
  padding: 20px;
}

.popular-books {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #22235f;
  padding: 60px;
}

.popular-books h3 {
  text-align: left;
}

.popular-books p {
  text-align: left;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  color: #22235f;
}

.login-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 40%;
  padding: 60px;
  background-color: #f5f5f5;
  border-radius: 5%;
}

.login-left p {
  margin: 10px 10px 10px 0;
}

.login-left input {
  border-radius: 5px;
  padding: 10px 90px;
}

.login-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.login-bottom button {
  background-color: #22235f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  gap: 8px;
}

.main-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-left {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.main-left a {
  font-size: 20px;
  padding: 15px 0;
  text-decoration: none;
  color: #22235f;
}

.main-right {
  display: flex;
  flex-direction: column;
  margin: 50px 120px 50px 0;
  color: #22235f;
}

.about-title {
  margin: 0 50px 20px 0;
}

.about-title h1 {
  margin-bottom: 20px;
}

.about-info {
  display: flex;
  flex-direction: row;
}

.about-info-left {
  inline-size: 500px;
  overflow-wrap: break-word;
  margin: 0 50px 50px 0;
}

.about-info-left h4 {
  margin-bottom: 20px;
}

.about-info img {
  width: 600px;
  height: auto;
}

.about-photos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.about-photos img {
  width: 320px;
}

.search-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  color: #22235f;
}

.search-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}

.search-field input {
  border-radius: 5px;
  padding: 15px 10px;
}

.advanced-search {
  display: flex;
  justify-content: right;
  width: 50%;
}

.search-meta {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.search-meta button {
  padding: 10px 55px;
  background-color: #22235f;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
}

.search-meta button:hover {
  background-color: #eb4852;
}

.catalog-main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
}

.dropdown-search select {
  padding: 10px;
  margin: 30px 0;
  border-radius: 5px;
  border: 1px #22235f solid;
}

.catalog-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 475px;
}

.catalog-right {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  margin-right: 450px;
  margin-top: 30px;
  padding: 30px;
}

.catalog-right button {
  border: 2px #22235f solid;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 10px 10px 10px 0;
}

.catalog-language {
  display: flex;
  flex-direction: column;
}

.catalog-language input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog-language label {
  display: flex;
  flex-direction: row;
}

.book-name {
  display: flex;
  flex-direction: column;
  padding: 40px 450px;
  color: #22235f;
}

.book-a .metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 450px;
}

.metadata-left {
  display: flex;
  flex-direction: column;
}

.metadata-left img {
  width: 325px;
  height: auto;
}

.metadata-right {
  display: flex;
  flex-direction: column;
}

.metadata-right a {
  text-decoration: none;
  color: #ffffff;
}

.get-add button {
  font-size: 25px;
  padding: 15px 25px;
  background-color: #22235f;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
}

.metadata-format {
  display: flex;
  flex-direction: column;
  color: #22235f;
}

.format-types {
  display: flex;
  font-size: 14px;
}

.format-type1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px #22235f solid;
  border-radius: 5px;
  padding: 20px;
  margin-right: 10px;
}

.format-type2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px #22235f solid;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 10px;
}

.summary {
  padding: 40px 450px;
  color: #22235f;
}

.break {
  border: 1px #22235f solid;
  margin-top: 50px;
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.reviews {
  display: flex;
  flex-direction: column;
  padding: 20px 450px;
  color: #22235f;
}

.stars-write {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stars-write button {
  border: 2px #22235f solid;
  background-color: #ffffff;
  color: #22235f;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.review-info {
  display: flex;
  gap: 5px;
}

.review-info img {
  width: 15px;
  height: 100%;
}

.tags {
  display: flex;
  flex-direction: column;
  padding: 20px 450px;
  color: #22235f;
}

.tag-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag-buttons button {
  border: 2px #22235f solid;
  background-color: #ffffff;
  color: #22235f;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.tag-buttons button:hover {
  text-decoration: underline;
}

.recommend-title {
  margin-bottom: 20px;
}

.books-recommend {
  display: flex;
  flex-direction: column;
  padding: 20px 450px;
  color: #22235f;
}

.books-recommend-list {
  display: flex;
  justify-content: space-evenly;
}

.book-info {
  display: flex;
  flex-direction: column;
}

.book-info-card {
  display: flex;
  flex-direction: row;
  color: #22235f;
  font-size: 14px;
}

.book-info-card-right {
  margin: 0 80px;
}

.book-info-location {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}

.book-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* margin: 10px; */
  cursor: pointer;
}

.book-author {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.book-tags button {
  border: 2px #22235f solid;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 20px 250px;
}

.grid-item1 {
  border: 1px #22235f solid;
  background-color: #9fa0f1ce;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.grid-item2 {
  border: 1px #22235f solid;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.checkout-tools {
  background-color: #22235f;
  padding: 15px 0 0 0;
}

.checkout-label {
  background-color: #ffffff;
  width: 150px;
  margin-left: 150px;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.checkout-search {
  margin-left: 150px;
  padding-top: 20px;
}

.checkout-search input {
  width: 250px;
}

.checkout-search button {
  border: 2px #22235f solid;
  background-color: #ffffff;
  padding: 5px 10px;
  border-radius: 8px;
}

.checkout-search button:hover {
  cursor: pointer;
}
