* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px black solid;
}

.nav-left {
  display: flex;
}

.nav-left h1 {
  font-size: 28px;
}

.nav-left a {
  text-decoration: none;
}

.logo img {
  display: flex;
  flex-direction: column;
}

.nav-right a {
  text-decoration: none;
}

.nav-right button {
  background-color: #22235f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  gap: 8px;
}

.banner {
  position: relative;
}

.banner img {
  border-top: 1px black solid;
  width: 100%;
  height: auto;
}

.banner input {
  position: absolute;
  top: 50%;
  left: 32%;
  width: 700px;
  padding: 15px 10px;
  border-radius: 8px;
}

.banner a {
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 62.1%;
}

.popular-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22235f;
  color: #ffffff;
}

.popular-books {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.popular-books h3 {
  text-align: center;
}

.popular-books p {
  text-align: center;
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
}

.login-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 40%;
  padding: 60px;
  background-color: #f5f5f5;
}

.login-left input {
  border-radius: 5px;
  padding: 10px 90px;
}

.login-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.login-bottom button {
  background-color: #22235f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px;
  gap: 8px;
}

.main-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-left {
  display: flex;
  flex-direction: column;
  /* padding: 50px; */
}

.main-right {
  display: flex;
  flex-direction: column;
  /* padding: 50px 200px; */
  /* background-color: antiquewhite; */
}

.about-info {
  display: flex;
  flex-direction: row;
}

.about-info-left {
  inline-size: 500px;
  overflow-wrap: break-word;
}

.about-info img {
  width: 500px;
  height: auto;
}

.about-photos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.about-photos img {
  width: 320px;
}

.search-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

.search-field {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}

.search-field input {
  border-radius: 5px;
  padding: 15px 10px;
}

.advanced-search {
  display: flex;
  justify-content: right;
  width: 50%;
}

.search-meta {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.search-meta button {
  padding: 10px 55px;
  background-color: #22235f;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
}

.search-meta button:hover {
  background-color: #eb4852;
}

.catalog-main {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: row;
}

.catalog-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.catalog-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  background-color: #f5f5f5;
}

.catalog-language input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog-language label {
  display: flex;
  flex-direction: row;
}

.book-name {
  display: flex;
  flex-direction: column;
  padding: 40px 450px;
}

.metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 450px;
}

.metadata-left {
  display: flex;
  flex-direction: column;
}

.metadata-left img {
  width: 325px;
  height: auto;
}

.metadata-right {
  display: flex;
  flex-direction: column;
}

.metadata-right a {
  text-decoration: none;
  color: #ffffff;
}

.get-add button {
  font-size: 25px;
  padding: 15px 25px;
  background-color: #22235f;
  color: #f5f5f5;
  border: none;
  border-radius: 5px;
}

.metadata-format {
  display: flex;
  flex-direction: column;
}

.format-types {
  display: flex;
  font-size: 14px;
}

.format-type1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px #22235f solid;
  border-radius: 5px;
  padding: 20px;
  margin-right: 10px;
}

.format-type2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px #22235f solid;
  border-radius: 5px;
  padding: 0 10px;
  margin: 0 10px;
}

.summary {
  padding: 40px 450px;
}

.break {
  border: 1px #22235f solid;
  margin-top: 50px;
}

.review-title {
  display: flex;
  justify-content: space-between;
}

.reviews {
  display: flex;
  flex-direction: column;
  padding: 20px 450px;
}

.stars-write {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stars-write button {
  border: 2px #22235f solid;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

.review-info {
  display: flex;
  gap: 5px;
}

.review-info img {
  width: 15px;
  height: 100%;
}

.tags {
  display: flex;
  flex-direction: column;
  padding: 20px 450px;
}

.tag-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag-buttons button {
  border: 2px #22235f solid;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

.tag-buttons button:hover {
  text-decoration: underline;
}

.books-recommend {
  display: flex;
  flex-direction: column;
  padding: 20px 450px;
}

.books-recommend-list {
  display: flex;
  justify-content: space-evenly;
}

.book-card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  padding: 20px 250px;
}

.grid-item1 {
  border: 1px #22235f solid;
  background-color: #9fa0f1ce;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.grid-item2 {
  border: 1px #22235f solid;
  display: flex;
  justify-content: center;
  padding: 10px;
}
