* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  display: flex;
}

.nav-left h1 {
  font-size: 28px;
}

.logo img {
  display: flex;
  flex-direction: column;
}

.nav-right a {
  text-decoration: none;
}

.nav-right button {
  background-color: #22235f;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 8px;
  gap: 8px;
}

.banner {
  position: relative;
}

.banner img {
  border-top: 1px black solid;
  width: 100%;
  height: auto;
}

.banner input {
  position: absolute;
  top: 50%;
  left: 32%;
  width: 700px;
  padding: 15px;
}

.banner a {
  color: #ffffff;
  position: absolute;
  top: 60%;
  left: 62.1%;
}

.popular-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22235f;
  color: #ffffff;
}

.popular-books {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.popular-books h3 {
  text-align: center;
}

.popular-books p {
  text-align: center;
}
